.a img {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: white;
  display: flex;
  justify-content: center;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
