.card {
  background-color: #305B8F;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-right: 10px;
  width: 150px;
  height: 250px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  transition: all 0.3s ease-out;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  filter: brightness(1.1);
}

.card img {
  max-width: 90%;
  height: 60%;
  object-fit: contain;
  transition: all 0.3s ease-out;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card img:hover {
  transform: rotate3d(1, 1, 0, 15deg);
}

.card h2 {
  font-size: 15px;
  margin: 10px 0;
}

.card p {
  margin: 10px 0;
}

.card-image {
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: rgb(93, 216, 159);
  cursor: pointer;
}

.closeBtn:hover {
  color: rgba(155, 218, 31, 0.808);
}
.link {
  text-decoration: none;
  color: inherit;
}

.h2 {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 0.8;
}
.name {
  color: #ffc600;
  text-shadow: 2px 2px #333;
  font-size: 3rem;
}






