.container {
    background-color: #305B8F;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    margin-bottom: 20px;
}

.active {
    background-color: #1A2634;
    color: #fff;
    border: none;
    padding: 8px;
    font-weight: bold;
    transition: background-color 0.2s ease;
    text-decoration: none
}

.active:hover {
    background-color: #2C3E50;
}